@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}


body {
    background-color: #DADADA;
}

/* Tailwind utility */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  